<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SubmissionConnectionString" value="server=.;database=DataLockSubmissionIntegrationTests;trusted_connection=true;" />
    <add key="SubmissionDedsConnectionString" value="server=.;database=DataLockSubmissionDedsIntegrationTests;trusted_connection=true;" />
    <add key="PeriodEndConnectionString" value="server=.;database=DataLockPeriodEndIntegrationTests;trusted_connection=true;" />
    <add key="PeriodEndDedsConnectionString" value="server=.;database=DataLockPeriodEndDedsIntegrationTests;trusted_connection=true;" />
  </appSettings>
</configuration>