IF NOT EXISTS(SELECT [schema_id] FROM sys.schemas WHERE [name]='Reference')
BEGIN
	EXEC('CREATE SCHEMA Reference')
END

-----------------------------------------------------------------------------------------------------------------------------------------------
-- DasCommitments
-----------------------------------------------------------------------------------------------------------------------------------------------
IF EXISTS(SELECT [object_id] FROM sys.tables WHERE [name]='DasCommitments' AND [schema_id] = SCHEMA_ID('Reference'))
BEGIN
	DROP TABLE Reference.DasCommitments
END
GO

CREATE TABLE Reference.DasCommitments
(
	[CommitmentId] bigint PRIMARY KEY,
	[Uln] bigint NOT NULL,
	[Ukprn] bigint NOT NULL,
	[AccountId] bigint NOT NULL,
	[StartDate] date NOT NULL,
	[EndDate] date NOT NULL,
	[AgreedCost] decimal(15, 2) NOT NULL,
	[StandardCode] bigint NULL,
	[ProgrammeType] int NULL,
	[FrameworkCode] int NULL,
	[PathwayCode] int NULL
)